html {
	height: 100%;
}

body {
	height: 100%;
  margin: 0;
  font-family: 'Roboto Mono', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	 background: linear-gradient(rgba(249, 245, 242, 0), #FAF3EE);
	background-repeat: no-repeat;
	background-attachment: fixed;
  overflow-x: hidden;
}

b {
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('Roboto Mono'),
  url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: bold;
  font-weight: 700;
  src: local('Roboto Mono'), local('Roboto Mono'),
  url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto'),
  url('./fonts/Roboto-Bold.ttf') format('truetype');
}
